@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;1,400&display=swap');

//fonts:
$bellefair-font: 'Bellefair';
$barlow-font: 'Barlow Condensed';

//colors:
$black: #0B0D17;
$purple: #D0D6F9;
$white:#FFFFFF;

//screen-size
$tablet-size: 768px;
$mobile-size: 475px;
